[submodule "backend"]
	path = backend
	url = https://github.com/nishattasnim3646/healthcare-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/nishattasnim3646/healthcare-frontend.git
